{% extends 'todolist/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Today</title>
</head>
<body>
    {% block body %}
    
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Task</th>
                <th scope="col">Status</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
{% for task in task_list %}
        <tr>

        <th scope="row"><a href="{%url 'task:details' task.id %}">{{task}}</a> </th> {%if task.task_status%} <th scope="row">Completed  &#10004 </th> <th scope="row"><a href="{%url 'task:taskstatus' task.id %}">Reopen</a> </th>
        {%else%} <th scope="row">Pending </th> <th scope="row"><a href="{%url 'task:taskstatus' task.id %}">Mark Done</a></th>       {% endif %}

</tr>

{% endfor %}
</tbody>
    </table>
{% endblock %}

</body>
</html>